<!DOCTYPE html>
<html>
{% block html %}
<head>
{% block head %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Favicon -->
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}" type="image/png">
<!-- Page Title -->
{% block title %}<title>{{ name }}</title>{% endblock%}
{% endblock%}
</head>

<body>
    {% block body %}
    {% endblock %}
    {% block footer %}
    {% endblock %}
</body>
{% endblock %}
</html> 