{% extends "base.html" %}
{% block body %}
    <h1>{{ name|upper }}</h1>
    {% if config['DEBUG'] %}
    <h6>Application in <strong>DEBUG</strong> mode:</h6>
    {% endif %}
    <table>
        <tr>
            <th>Config Key</th>
            <th>Config Value</th>
        </tr>
    {% if config['DEBUG'] %}
        {% for key in config %}
            <tr>
                <td>{{ key }}</td>
                <td>{{ config[key] }}</td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td>VERSION</td>
            <td>{{ config['VERSION'] }}</td>
        </tr>
    {% endif %}
    </table>
{% endblock %}